.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
venv/
logs/
plugins/
tests/
MLOPS_PROJECT_2.egg-info/
include/
.astro/
